.card {
    width: 250px;
    text-align: center;
}

.day {

    background-color: rgb(236, 45, 15);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;

}

.date {
    padding-top: 20px;
    font-size: 17px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 20px black;
}

.time {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

}

.content-wrapper {
    box-shadow: 5px 5px 10px black;
}