.font {
    font-family: Palatino Linotype
}

#china {
    color: darkred
}

#petra {
    color: sienna
}

#brazil {
    color: royalblue
}

#peru {
    color: forestgreen
}

#mexico {
    color: goldenrod
}

#italy {
    color: dimgray
}

#india {
    color: teal
}