body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    border-radius: 0;
    padding: 10px;
    border: 1px solid blue;
    background-color: rgb(120, 140, 243);
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: darkblue;
    color: white;
}